@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #F28B82;
    --text-color: #F2E394;
    --font-size: 36px;
    --gap-btn: 2.5rem;
    --width-img: 153px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contrianer {
    width: 80%;
}

.all-nav {
    position: sticky;
    top: 0px;
    z-index: 9999;
}

nav {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    height: 4.3rem;
    top: 0px;


    .contrianer {
        .nav-con {
            /* display: flex; */
            /* align-items: center;
            justify-content: space-between; */

            .logo {

                a {
                    img {
                        width: var(--width-img);
                        transition: 0.5s ease;

                        &:hover {
                            transform: scale(1.25);
                            filter: drop-shadow(5px 10px 1px rgba(0, 0, 0, 0.1))
                        }
                    }
                }
            }

            .btn-list {
                ul {

                    align-items: center;
                    justify-items: center;
                    gap: var(--gap-btn);

                    li {
                        list-style-type: none;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -2px;
                            width: 0;
                            height: 5px;
                            background-color: var(--text-color);
                            transition: width 0.5s ease;


                        }

                        &:hover::after {
                            width: 100%;
                        }

                        a {
                            font-family: "Prompt", sans-serif;
                            font-size: var(--font-size);
                            text-decoration: none;
                            color: var(--text-color);
                        }
                    }
                }
            }

        }
    }

}

.ham-bar {
    color: var(--text-color);
    cursor: pointer;
}

.right-menu {
    right: 0px;
    background-color: #F28B82;
    height: 100vh;
    width: 70%;
    /* transform: translateX(100%); */
    /* right: -70%; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    ul {
        .link-side {
            width: 100%;

            li {
                display: flex;
                justify-content: center;
                padding: 15px;
                color: var(--text-color);

                &:hover {
                    background-color: #9d554e;
                }
            }
        }
    }
}

.right-menu.active {
    /*transform: translateX(0);*/ /* เลื่อนกลับมา */
    /* right: 0; */
    /* width: 70%; */
    opacity: 1;
    visibility: visible;
    
}